body {
  --size-title: calc(14px + 2.8vw);
  --size-largest: calc(12px + 2vw);
  --size-larger: calc(12px + 1.5vw);
  --size-large: calc(12px + 1vw);
  --size-medium: calc(12px + 0.5vw);
  --size-small: calc(10px + 0.45vw);
  --size-smaller: calc(8px + 0.4vw);
  --size-smallest: calc(7px + 035vw);

  &.mobile {
    --size-title: calc(18px + 3vw);
    --size-largest: calc(17px + 2.5vw);
    --size-larger: calc(16px + 2vw);
    --size-large: calc(16px + 1.5vw);
    --size-medium: calc(14px + 1vw);
    --size-small: calc(12px + 0.75vw);
    --size-smaller: calc(10px + 0.5vw);
    --size-smallest: calc(8px + 0.4vw);
  }
}